<!DOCTYPE html>
<html>
<head>
	<title>KECAMATAN</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

	<nav class="navbar navbar-expand-md bg-light navbar-light">
		<!-- Brand -->
		<a class="navbar-brand" href="index.html">
			<img src="logo.jpg" alt="logo" style="width:240px; padding-left: 40px;">Adipala
		</a>

		<!-- Toggler/collapsibe Button -->
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Navbar links -->
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav ml-auto" style="padding-right: 40px;">
				<li class="dropdown nav-item">
					<a class="dropdown-toggle nav-link"" data-toggle="dropdown" href="#">PROFIL
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu text-center">
						<li><a href="profil.html">Profil Website</a></li>
						<li><a href="peta.html">Peta Wilayah</a></li>
					</ul>
				</li>
				<li class="nav-item"><a class="nav-link" href="sejarah.html">SEJARAH</a></li>
				<li class="nav-item"><a class="nav-link" href="wisata.html">WISATA</a></li> 
				<li class="dropdown nav-item">
					<a class="dropdown-toggle nav-link"" data-toggle="dropdown" href="#">PEMERINTAHAN
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu text-center">
						<li><a href="pemerintahan.html">Visi & Misi</a></li>
						<li><a href="prestasi.html">Prestasi</a></li>
						<li><a href="daftardesa.html">Daftar Desa</a></li>
					</ul>
				</li>
				<li class="nav-item"><a class="nav-link" href="publikasi.html">PUBLIKASI</a></li> 
				<li class="nav-item"><a class="nav-link" href="produk.html">PRODUK</a></li> 
				<!--
				<li class="nav-item"><a class="nav-link" href="#">PROFIL</a></li>
				<li class="nav-item"><a class="nav-link" href="sejarah.html">SEJARAH</a></li>
				<li class="nav-item"><a class="nav-link" href="#">WISATA</a></li> 
				<li class="nav-item"><a class="nav-link" href="#">PEMERINTAHAN</a></li> 
				<li class="nav-item"><a class="nav-link" href="#">PUBLIKASI</a></li> 
				<li class="nav-item"><a class="nav-link" href="produk.html">PRODUK</a></li>--> 
			</ul>
		</div> 
	</nav>
	
</body>
</html>