<!DOCTYPE html>
<html>
<head>
	<title>KECAMATAN</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

	<nav class="navbar navbar-expand-md bg-light navbar-light">
		<!-- Brand -->
		<a class="navbar-brand" href="index.html">
			<img src="logo.jpg" alt="logo" style="width:240px; padding-left: 40px;">Adipala
		</a>

		<!-- Toggler/collapsibe Button -->
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Navbar links -->
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav ml-auto" style="padding-right: 40px;">
				<li class="dropdown nav-item">
					<a class="dropdown-toggle nav-link"" data-toggle="dropdown" href="#">PROFIL
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu text-center">
						<li><a href="profil.html">Profil Website</a></li>
						<li><a href="peta.html">Peta Wilayah</a></li>
					</ul>
				</li>
				<li class="nav-item"><a class="nav-link" href="sejarah.html">SEJARAH</a></li>
				<li class="nav-item"><a class="nav-link" href="wisata.html">WISATA</a></li> 
				<li class="dropdown nav-item">
					<a class="dropdown-toggle nav-link"" data-toggle="dropdown" href="#">PEMERINTAHAN
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu text-center">
						<li><a href="pemerintahan.html">Visi & Misi</a></li>
						<li><a href="prestasi.html">Prestasi</a></li>
						<li><a href="daftardesa.html">Daftar Desa</a></li>
					</ul>
				</li>
				<li class="nav-item"><a class="nav-link" href="publikasi.html">PUBLIKASI</a></li> 
				<li class="nav-item"><a class="nav-link" href="produk.html">PRODUK</a></li> 
				<!--
				<li class="nav-item"><a class="nav-link" href="#">PROFIL</a></li>
				<li class="nav-item"><a class="nav-link" href="sejarah.html">SEJARAH</a></li>
				<li class="nav-item"><a class="nav-link" href="#">WISATA</a></li> 
				<li class="nav-item"><a class="nav-link" href="#">PEMERINTAHAN</a></li> 
				<li class="nav-item"><a class="nav-link" href="#">PUBLIKASI</a></li> 
				<li class="nav-item"><a class="nav-link" href="produk.html">PRODUK</a></li>--> 
			</ul>
		</div> 
	</nav>

	<div class="">
		<img class="img-fluid" src="https://placehold.it/1366x610?text=IMAGE">
		<!--<div class="card-img-overlay container" style="padding-top: 209px;">
			<h1 class="font-weight-bold">JUAL ALAT BERAT</h1>
			<h5 class="font-weight-light">Harga Cina, Kualitas Eropa</h5>
		</div>-->
	</div>

	<div class="container-fluid2 bg-2 text-center">
		<h6>No mei primis neglegentur, per ornatus similique definitiones eu. Est dicit aliquando ex,</h6>
	</div>

	<div class="container-fluid3 bg-3 text-center">
		<div class="container" style="background:transparent !important">
			<h4>Selamat Datang di Website Resmi</h4>
			<h3>PEMERINTAH KECAMATAN ADIPALA</h3>
			<p>Ius ei paulo homero epicuri, mel audire dolorum id. Viderer honestatis suscipiantur ut mea, sea te nisl erant appetere, te usu illud qualisque quaerendum. His option ceteros disputando ea. Eu nihil constituto has, docendi oportere convenire te pro. Ius ne novum maiorum, quo lorem falli nihil ei. Mel ei reque omnes.</p>
		</div>
	</div>

	<div class="container bg-1 text-center style1" style="background:transparent !important">
		<h4>FASILITAS PUBLIK</h4>
		<br>
		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-2">
				<img src="https://placehold.it/60?text=ICON">
				<h5>Rumah Ibadah</h5>
				<p>15 Masjid<br>
					1 Gereja Protestan<br>
					1 Gereja Katholik<br>
				2 Pura</p>
			</div>
			<div class="col-sm-2">
				<img src="https://placehold.it/60?text=ICON">
				<h5>Transportasi</h5>
				<p>2 Terminal Bus<br>
				2 SPBU</p>
			</div>
			<div class="col-sm-2">
				<img src="https://placehold.it/60?text=ICON">
				<h5>Kesehatan</h5>
				<p>2 Puskesmas<br>
				4 Klinik Umum</p>
			</div>
			<div class="col-sm-2">
				<img src="https://placehold.it/60?text=ICON">
				<h5>Edukasi</h5>
				<p>9 Sekolah Dasar<br>
					6 SMP/MTS<br>
				1 SMA/MA</p>
			</div>
			<div class="col-sm-2">
				<img src="https://placehold.it/60?text=ICON">
				<h5>Pariwisata</h5>
				<p>Pantai Sodong Indah<br>
					Bukit Selok<br>
					Gunung Srandil<br>
					Cemara Sewu<br>
				Candi Cina</p>
			</div>
			<div class="col-sm-1"></div>
		</div>
	</div>

	<div class="container-fluid">
		<h4><center>PRODUK TERATAS</center></h4><br>
		<div class="row">
			<div class="col-sm-2"></div>

			<div class="col-sm">
				<div class="thumbnail bg-grey">
					<img src="https://placehold.it/200x100?text=IMAGE" alt="Paris" width="400" height="300">
					<p><strong>LOREM IPSUM</strong></p>
					<p>Ius ei paulo homero epicuri, mel audire dolorum id. Viderer honestatis suscipiantur ut mea.</p>
					<button class="btn">cek sekarang</button>
				</div>
			</div>

			<div class="col-sm">
				<div class="thumbnail bg-grey">
					<img src="https://placehold.it/200x100?text=IMAGE" alt="New York" width="400" height="300">
					<p><strong>LOREM IPSUM</strong></p>
					<p>Ius ei paulo homero epicuri, mel audire dolorum id. Viderer honestatis suscipiantur ut mea.</p>
					<button class="btn">cek sekarang</button>
				</div>
			</div>

			<div class="col-sm">
				<div class="thumbnail bg-grey">
					<img src="https://placehold.it/200x100?text=IMAGE" alt="San Francisco" width="400" height="300">
					<p><strong>LOREM IPSUM</strong></p>
					<p>Ius ei paulo homero epicuri, mel audire dolorum id. Viderer honestatis suscipiantur ut mea.</p>
					<button class="btn">cek sekarang</button>
				</div>
			</div>

			<div class="col-sm-2"></div>
		</div>
	</div>

	<div class="bg-5 text-center" style="margin-top: 70px; padding-top: 50px; padding-bottom: 50px;">
		<div class="container">

			<h4>PEJABAT TERAS</h4>
			<br>
			<div class="row">
				<div class="col-sm">
					<img src="https://placehold.it/250x350?text=IMAGE" alt="Image">
				</div>
				<div class="col-sm">
					<img src="https://placehold.it/250x350?text=IMAGE" alt="Image">
				</div>
				<div class="col-sm">
					<img src="https://placehold.it/250x350?text=IMAGE" alt="Image">
				</div>
				<div class="col-sm">
					<img src="https://placehold.it/250x350?text=IMAGE" alt="Image">
				</div>
			</div>

		</div>
	</div>


	<div class="container-fluid style1">
		<h4><center>BERITA TERBARU</center></h4><br>
		<div class="row">
			<div class="col-sm-1"></div>

			<div class="col-sm">
				<div class="thumbnail bg-grey">
					<img src="https://placehold.it/200x100?text=IMAGE" alt="Paris" width="400" height="300">
					<p><strong>LOREM IPSUM</strong></p>
					<p>Ius ei paulo homero epicuri, mel audire dolorum id. Viderer honestatis suscipiantur ut mea.</p>
					<button class="btn" style="background:transparent">READ MORE</button>
				</div>
			</div>

			<div class="col-sm">
				<div class="thumbnail bg-grey">
					<img src="https://placehold.it/200x100?text=IMAGE" alt="New York" width="400" height="300">
					<p><strong>LOREM IPSUM</strong></p>
					<p>Ius ei paulo homero epicuri, mel audire dolorum id. Viderer honestatis suscipiantur ut mea.</p>
					<button class="btn" style="background:transparent">READ MORE</button>
				</div>
			</div>

			<div class="col-sm">
				<div class="thumbnail bg-grey">
					<img src="https://placehold.it/200x100?text=IMAGE" alt="San Francisco" width="400" height="300">
					<p><strong>LOREM IPSUM</strong></p>
					<p>Ius ei paulo homero epicuri, mel audire dolorum id. Viderer honestatis suscipiantur ut mea.</p>
					<button class="btn" style="background:transparent">READ MORE</button>
				</div>
			</div>

			<div class="col-sm-1"></div>
		</div>
	</div>


	<footer class="container-fluid bg-4 text-left">
		<div class="row" style="margin-top: 70px;">
			<div class="col-sm-9">
				<img src="footer.jpg" alt="logo" style="width:400px; height: 100px; padding-left: 40px; padding-top: 10px; padding-bottom: 10px;">
			</div>

			<div class="col-sm-3" style="margin-top: 30px;">
				<img src="https://placehold.it/45x45?text=ICON" alt="Image">
				<img src="https://placehold.it/45x45?text=ICON" alt="Image" style="padding-left: 5px;">
				<img src="https://placehold.it/45x45?text=ICON" alt="Image" style="padding-left: 5px;">
				<img src="https://placehold.it/45x45?text=ICON" alt="Image" style="padding-left: 5px;">
			</div>
		</div>
	</footer>


<!--
	<div class="card bg-light text-white" style="margin-top: 70px;">
		<img class="card-img" src="https://placehold.it/1366x500/8e8e8e/8e8e8e?text=." alt="Card image">
		<div class="card-img-overlay container text-center" style="padding-top: 30px;">
			<h4>PEJABAT TERAS</h4><br>
			<div class="row">
				<div class="col-sm-3">
					<img class="img-responsive" style="width: 100%" src="https://placehold.it/250x350?text=IMAGE" alt="Image">
				</div>
				<div class="col-sm-3">
					<img class="img-responsive" style="width: 100%" src="https://placehold.it/250x350?text=IMAGE" alt="Image">
				</div>
				<div class="col-sm-3">
					<img class="img-responsive" style="width: 100%" src="https://placehold.it/250x350?text=IMAGE" alt="Image">
				</div>
				<div class="col-sm-3">
					<img class="img-responsive" style="width: 100%" src="https://placehold.it/250x350?text=IMAGE" alt="Image">
				</div>
			</div>
		</div>
	</div>
-->

<!--	<div class="container bg-1">
		<h4><center>PRODUK TERATAS</center></h4> 
		<br>
		<div class="row">
			
			<div class="col-sm-4">
				<div class="panel panel-primary">
					<div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
					<div class="panel-footer">
						<h5><strong>LOREM IPSUM</strong></h5>
						<p>Ius ei paulo homero epicuri, mel audire dolorum id. Viderer honestatis suscipiantur ut mea.</p>
						<button class="btn">cek sekarang</button>
					</div>
				</div>
			</div>
			<div class="col-sm-4"> 
				<div class="panel panel-primary">
					<div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
					<div class="panel-footer"><h5><strong>LOREM IPSUM</strong></h5>
						<p>Ius ei paulo homero epicuri, mel audire dolorum id. Viderer honestatis suscipiantur ut mea.</p>
						<button class="btn">cek sekarang</button>
					</div>
				</div>
			</div>
			<div class="col-sm-4"> 
				<div class="panel panel-primary">
					<div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
					<div class="panel-footer"><h5><strong>LOREM IPSUM</strong></h5>
						<p>Ius ei paulo homero epicuri, mel audire dolorum id. Viderer honestatis suscipiantur ut mea.</p>
						<button class="btn">cek sekarang</button>
					</div>
				</div>
			</div>

		</div>
	</div>
-->
<!--
<div class="container bg-1 text-center style1">
	<h4><center>PRODUK TERATAS</center></h4> 
	<br>
	<div class="row">

		<div class="col-sm-2"></div>

		<div class="col-sm-2 card" style="">
			<img class="card-img-top" src="https://placehold.it/200x100?text=IMAGE" alt="Card image">
			<div class="card-body">
				<h4 class="card-title">John Doe</h4>
				<p class="card-text">Some example text.</p>
				<a href="#" class="btn btn-primary">See Profile</a>
			</div>
		</div>

		<div class="col-sm-1"></div>

		<div class="col-sm-2 text-center card" style="width:400px">
			<img class="card-img-top" src="https://placehold.it/300x100?text=IMAGE" alt="Card image">
			<div class="card-body">
				<h4 class="card-title">John Doe</h4>
				<p class="card-text">Some example text.</p>
				<a href="#" class="btn btn-primary">See Profile</a>
			</div>
		</div>

		<div class="col-sm-1"></div>

		<div class="col-sm-2 text-center card" style="width:400px">
			<img class="card-img-top" src="https://placehold.it/200x100?text=IMAGE" alt="Card image">
			<div class="card-body">
				<h4 class="card-title">John Doe</h4>
				<p class="card-text">Some example text.</p>
				<a href="#" class="btn btn-primary">See Profile</a>
			</div>
		</div>

		<div class="col-sm-2"></div>

	</div>
-->
<!--
	<div class="card card-pricing text-center px-3 mb-4">
            <span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom bg-primary text-white shadow-sm">Starter</span>
            <div class="bg-transparent card-header pt-4 border-0">
                <h1 class="h1 font-weight-normal text-primary text-center mb-0" data-pricing-value="15">$<span class="price">3</span><span class="h6 text-muted ml-2">/ per month</span></h1>
            </div>
            <div class="card-body pt-0">
                <ul class="list-unstyled mb-4">
                    <li>Up to 5 users</li>
                    <li>Basic support on Github</li>
                    <li>Monthly updates</li>
                    <li>Free cancelation</li>
                </ul>
                <button type="button" class="btn btn-outline-secondary mb-3">Order now</button>
            </div>
    </div>
-->

</body>
</html>